[Match]
Name=usb*

[Network]
Description="usb gadget link configuration"
# Address=192.168.88.1/24
# Gateway=192.168.88.250
# DNS=192.168.88.250
LinkLocalAddressing=ipv4
DHCP=yes

